@import "~bootstrap/scss/bootstrap";
@import "~swiper/css";
@import "~swiper/css/navigation";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom--btn{
  &.active {
    background-color: blueviolet !important;
    border-color: blueviolet !important;
    color: white !important;
  }
  &:hover {
    border-color: blueviolet !important;
    transition: all 0.3s ease-in-out;
  }
}

.mySwiper { 
  margin: 20px;
}

.entry-view {
  height: 200px;
  p {
    max-height: 120px;
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    direction: ltr;
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid #eaeaea;
}

textarea {
  resize: none;
}